h1 {
  color: #6d6e71;
  font-weight: bold;
  text-align: center;
}

.member-item {
  background: linear-gradient(90deg, #0055ff, #0033cc);
}

.member-item .member-link i::before {
  transform: translateY(1.5px);
}
.member-item .member-link i {
  font-size: 24px;
  color: linear-gradient(90deg, #0055ff, #0033cc);
}
.member-item .member-link:hover {
  background-color: #e1e1e1;
}
.member-item .member-link {
  transition: all 0.3s ease;
  padding: 2px 11px;
  background-color: #fff;
  border-radius: 18px;
  display: flex;
  width: max-content;
}

/* member detail */

.members-detail {
  grid-template-columns: minmax(300px, 1fr) 3fr;
  gap: 20px;
}
.detail-info__other {
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}
.member-socical:hover i {
  color: #01019b;
}
.member-socical i {
  transition: all 0.3s ease;
}
